{% extends "welcome.html" %}

{% block title %} home {% endblock %}

{% block content %}

<form action="/logout" align="right"><input type="submit" value="logout"></form><br>
<br>


<center>

<h1> HELLO <font color="navy">{{username}}</font></h1> <br>
<form action="/check_balance"> <input type="submit" value="check balance"></form><br>
<br>
<form action="/desposite"> <input type="submit" value="Deposite"></form><br>
<br>
<form action="/withdraw"> <input type="submit" value="withdraw"></form><br>
<br>
<form action="/update_pin"> <input type="submit" value="change pin"></form><br>
<br>
<form action="/bank_statement"> <input type="submit" value="Bank statement"></form><br>
<br>
</center>


{% endblock %}