{% extends "welcome.html" %}

{% block title %}pin  no {% endblock %}

{% block content %}

<center>

     <font color="orange"> <h1>plz enter your  correct pin </h1></font>
     
     <form action="/update_pin"   method="post">
    
        <input type="hidden" name="c_pin" value="c_pin">
        <input type="password" name="ch_pin" required  minlength="4"> <br><br>
        <input type="submit" value="submit">
     </form>
     <FONT color="red">{{info}}</FONT><br><br>
     <form action="/home"> <input type="submit" value="cancel"></form>
</center>

{% endblock %}